:root {
  --bg: #15141a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  
}

body {
  background: var(--bg);
}

/* CSS HOME */
.btn {
  margin-top: 3rem;
  color: #f7f7f7;
  background-color: #d76221;
}
.btn:hover {
  background-color: #15141a;
  color: #d76221;
  border-color: #d76221;
}
#quantity-display {
  font-size: 24px;
  margin-bottom: 10px;
}

#increment-btn,
#decrement-btn {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}
