:root {
  --bg: #15141a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* LOGIN PAGE */
body {
  background: var(--bg);
}
.login input {
  border-radius: 10px;
  background: #292832;
  color: #f7f7f7;
  width: 349px;
  height: 56px;
}
.btn {
  color: #f7f7f7;
  display: flex;
  width: 131px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #d76221;
}

/* BODY REGISTER */
body {
  background: #15141a;
}
.register input {
  border-radius: 10px;
  background: #292832;
  color: #f7f7f7;
  width: 349px;
  height: 56px;
}
.btn {
  color: #f7f7f7;
  display: flex;
  width: 131px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #d76221;
}
